.section-one{
    background: url('../../public/background-netflix.jpeg') no-repeat center center/cover;
    height: 100vh;
    border-bottom: 8px solid #222;
    .top-header{
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        top: 14px;
        color: white;
        .right-menu{
            display: flex;
            flex-direction: row;
            .btn-signin{
                background-color: #E50917;
                font-size: 1rem;
                font-weight: 400;
                line-height: normal;
                padding: 7px 17px;
                margin : 0 15px;
            }
            .btn-lang{
                background: rgba(0,0,0,.4);
                border: 1px solid #aaa;
                color: #fff;
                font-size: .875rem;
                margin-right: 10px;
            }
        }
    }
    .center-header{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: white;
        flex-direction: column;
        height: 80%;
        font-size: 1.75rem;;
        z-index: 2;
    }
    .text-title{
        font-size: 2.85rem;
        font-weight: 700;
        line-height: 1.1;
        color: white;
        max-width: 640px;
        text-align: center;
    }
    .text-desc{
        text-align: center;
        max-width: 640px;
        font-size: 26px;
    }
    .text-desc-end{
        text-align: center;
        max-width: 640px;
        font-size: 18px;
        margin:0;
    }
    .btn-email{
        margin-top: 15px;
        background-color: rgb(229, 9, 20);
        color: white;
    }
}
.section-one::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 20px 50px 120px #000000 , inset -60px -50px 125px #000000;
}
.section-two{
    background-color:  #000000 ;
    color : white;
    border-bottom: 8px solid #222;
    border-top: 8px solid #222;
    color: #fff;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    .row-reverse{
        flex-direction: row-reverse;
        .img-kids{
            margin: 50px;
        }
        .text-profile{
            display: flex;
            justify-content: center;
            flex-direction: column;
            .title{
                font-size: 50px;
            }
            .description{
                font-size: 26px;
            }
        }
    }
}

@media only screen and (max-width: 746px) {
    .section-one{
        height: auto;
        .center-header{
            margin: 50px 0;
        }
        .email-box{
            display: flex;
            flex-direction: column;
            width: 100%;
            .btn-email{
            margin: 10px auto;
            background-color: rgb(229, 9, 20);
            color: white;
            width: 50%;
            }
        }    

        input{
            width: 100%;
        }
    }
    .section-two{
        .row-reverse{
            flex-direction: column;
            .img-kids{
                margin: 20px;
            }
            .title{
                font-size: 26px;
                text-align: center;
            }
            
            .description{
               text-align: center;
               font-size: 18px;
            }
        }
    }
}
